<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" type="text/css">

body {
	background-image:url(../images/dogBones.jpg);
	padding: 100px;
}

p, h1, h2, h3 :not(ul, li) {
	text-align: center;
}


.log-in, .verify{
  display:block;
  margin:0 auto;
  margin-top:15px;
}

.log-in-area{
  text-align:center;
}

.disabled{
  opacity:.7;
}

.log-in-alert, .wrong-pass-alert{
  width:300px;
  position:absolute;
  top:25px;
  left:45px;
  margin:0 auto;
  z-index:100;
  box-shadow:3px 3px 10px grey;
}
