<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" type="text/css">

body {
  background-image: url("../images/dogBones.jpg");
  margin: auto;
}

div {
  background-color: gray;
  text-align: center;
  color: white;
  margin: auto;
  width: 50%;
  border: 3px dotted #e60073;
  padding: 10px;
  box-shadow: 10px 10px 5px #888888;
}

ul {
  text-align: left;
}
a:link {
  color: gray;
}

a:hover {
  color: #e60073;
}

a:active {
  color: #ff3399;
}

a:visited {
  color:#ff3399;
}
